body{
  font-family: monospace;
  width: 500px;
}
#Header {
  img {
    width: 50%;
    margin: 0 0 0 3%;
  }
}
h4 {
  text-align: right;
  margin-right: 7%;
}
p {
  color: white;
  background-color: #434343;
  display: none;
  transition-duration: .5s;
  vertical-align: bottom;
  position: absolute;
  width: 24%;
  margin: 0 2em 0 0;
  border: .2em solid black;
  font-size: .6em;
  border-radius: .9em;
  padding: 1%;
}
.display{
  width: 100%;
  overflow: hidden;
  margin-right: 4em;
  margin-left: 0;
  li {
    display: inline-block;
    text-decoration: none;
    width: 80%;
    height: 5em;
    margin: 1% 10% 1% 0;
    overflow: hidden;
    background-position: center;
    border: .5em solid gray;
    border-radius: .5em;
    transition-duration: .8s;
    text-align: center;
    padding-top: 5%;
    &:hover {
      width: 90%;
      font-size: 1em;
      p {
        display: block;
        font-size: 1.2em;
        text-align: left;
        width: 80%;
      }
    }
    a{
      text-decoration: none;
      color: white;
      text-shadow: 1px 1px 2px black;
      font-size: 1.5em;
    }
  }
}
/////// nav buttons ///////
.nav {
  width: 100%;
  li {
    display: inline-block;
    &:nth-child(1) {
      margin-right: 90%;
      margin-left: 1%;
    }
    button {
      color: white;
      position: absolute;
      margin-bottom: 5em;
      border-radius: 2em;
      font-size: 2em;
      background-color: black;
    }
  }
}
